.background {
  z-index: -1;
  position: absolute;
  inset: 0;

  display: flex;
}

.background:after {
  content: '';
  position: absolute;
  inset: 0;

  background: var(--shadow-car);
}

.cloud {
  position: absolute;
  z-index: -2;
  width: auto;
  height: 11vh;
}

.car {
  width: 100%;
  height: auto;
  
  margin-top: auto;
}